.modal_input_block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal_input_block input {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.modal_input_block h4 {
    margin: 8px;
}
.modal button {
margin: 5px 5px;
}